#body-contactus{

}

#body-contactus label{
    font-size: 0.8em;
    color:darkgray;
}

#body-contactus h1{
    font-size: 2em;
    color:rgb(51, 51, 51);
    margin-bottom: 1em;;
}

#body-contactus input, #body-contactus textarea{
    font-size: 0.9em;
}